.parent{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}
.block1{
height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 160px;
    margin-left: 0;
    text-align: left;
}
.block2{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 0;
    margin-left: 110px;
    text-align: right;
}
.block3{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 160px;
    margin-left: 110px;
    text-align: right;
}
.block4{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 320px;
    margin-left: 0;
    text-align: left;
}
.block5{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 320px;
    margin-left: 110px;
    text-align: right;
}
.block6{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 0;
    margin-left: 260px;
}
.block7{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 160px;
    margin-left: 260px;
}
.block8 {
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 320px;
    margin-left: 260px;
}
.block9 {
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 0;
    margin-left: 370px;
    text-align: right
}
.block10 {
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 160px;
    margin-left: 370px;
    text-align: right
}
.block11 {
    height: 150px;
    width: 100px;
    border: 1px solid black;
    background-color: cadetblue;
    position: absolute;
    margin-top: 320px;
    margin-left: 370px;
    text-align: right;
}
.block_Prof{
    height: 100px;
    width: 150px;
    border: 1px solid black;
    background-color: darkslategrey;
    position: absolute;
    margin-top: 390px;
    margin-left: 180px;
    text-align: center;
}
.manon{
    margin-left: 0;
    margin-top:80px;
    position: absolute;
}
.romain{
    margin-left: 0;
    margin-top:80px;
    position: absolute;
}
.michelle{
    margin-left: 0;
    margin-top:80px;
    position: absolute;
}
.quentin{
    margin-right: 0;
    margin-top:80px;

}
.maxime{
    margin-right: 0;
    margin-top:80px;
}
.ludovic{
    margin-right: 0;
    margin-top:80px;
}
.elena{
    margin-right: 0;
    margin-top:80px;
}
.david{
    margin-right: 0;
    margin-top:80px;
}
.jerome{
    margin-right: 0;
    margin-top:80px;
}